/* You can add global styles to this file, and also import other style files */
table {
    background-color: lightblue;
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
th {
    background-color: darkblue;
    color: white;
  }

  form {
    max-width: 500px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo para los campos de entrada */
  input[type=text], input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  /* Estilo para el botón de envío */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilo para el botón de envío cuando se pasa el cursor sobre él */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Estilo para el encabezado del formulario */
  h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  /* Estilo para las etiquetas de los campos de entrada */
  label {
    font-size: 18px;
    font-weight: bold;
  }
